name: QA Pipeline

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main
    types: 
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Assemble
        run: nix develop --impure --command ./gradlew --no-daemon -Pversion=${{ github.sha }} clean assemble

      - name: Archive Jars
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: |
            **/build/libs/*.jar
          include-hidden-files: true
          if-no-files-found: error

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        run: nix develop --impure --command ./gradlew --no-daemon clean spotlessCheck

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Tests
        run: nix develop --impure --command ./gradlew --no-daemon clean test

      - name: Archive build reports
        uses: actions/upload-artifact@v4
        if: always() # always run even if the previous step fails
        with:
          name: buildreports
          path: |
            **/build/reports
          include-hidden-files: true
          if-no-files-found: error
      - name: Archive test reports
        uses: actions/upload-artifact@v4
        if: always() # always run even if the previous step fails
        with:
          name: testreports
          path: |
            **/build/test-results
          include-hidden-files: true
          if-no-files-found: error
